annotated-types==0.7.0
asgiref==3.8.1
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cssselect2==0.7.0
dj-database-url==2.3.0
Django==5.1.4
django-heroku==0.3.1
fonttools==4.55.3
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
packaging==24.2
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.29.2
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
pydyf==0.11.0
pyparsing==3.2.1
PyPDF2==3.0.1
pyphen==0.17.0
python-dotenv==1.0.1
reportlab==4.2.5
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
weasyprint==63.1
webencodings==0.5.1
whitenoise==6.8.2
zopfli==0.2.3.post1
