{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Resume Review</title>
</head>
<body>

    <h1>Review Your Resume</h1>

    <!-- Display resume details for review -->
    <div>
        <h2>Contact Information</h2>
        <p>Email: {{ email }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Location: {{ city }}</p>
        {% if linkedin %}
            <p>LinkedIn: <a href="{{ linkedin }}">{{ linkedin }}</a></p>
        {% endif %}
    </div>

    <div>
        <h2>Professional Summary</h2>
        <p>{{ professional_summary }}</p>
    </div>

    <div>
        <h2>Job Responsibilities</h2>
        <ul>
            {% for responsibility in responsibilities %}
                <li>{{ responsibility }}</li>
            {% endfor %}
        </ul>
    </div>
    

    <div>
        <h2>Certifications</h2>
        <p>{{ certifications }}</p>
    </div>

    <div>
        <h2>Education</h2>
        <ul class="education-list">
            {% for school, degree, start_date, end_date in education %}
                <li>
                    <div class="education-item">
                        <div class="education-left">
                            <p>
                                <strong>{{ degree }}</strong>
                                <span class="education-dates">{{ start_date }} - {{ end_date }}</span>
                            </p>
                            <p>{{ school }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    

    <div>
        <h2>Skills</h2>
        <p>{{ skills }}</p>
    </div>

    <br><br>


    <form method="POST" action="{% url 'generate_pdf' %}">
        {% csrf_token %}
        <!-- Hidden inputs to pass the data for PDF generation -->
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="job_title" value="{{ job_title }}">
        <input type="hidden" name="linkedin" value="{{ linkedin }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="phone" value="{{ phone }}">
        <input type="hidden" name="city" value="{{ city }}">
        <input type="hidden" name="professional_summary" value="{{ professional_summary }}">
        <input type="hidden" name="responsibilities" value="{{ responsibilities|join:'|' }}">

        <input type="hidden" name="certifications" value="{{ certifications }}">
        <input type="hidden" name="education" value="{% for edu in education %}{{ edu|join:'~~' }}|{% endfor %}">


        <input type="hidden" name="skills" value="{{ skills }}">
        <br><br>
        <!-- Button to download the resume as PDF -->
        <input type="submit" value="Save and Download PDF">
    </form>

</body>
</html>

















